
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">View Employee and Task</li>
  </ol>
</nav>


<div class="view-user p-5">
  {{#each rows}}
  <div class="row mb-5">
    <div class="col text-center">
      <h3>{{this.full_name}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Full Name:</th>
            <th scope="col">Email:</th>
            <th scope="col">Phone:</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Monthly Salary</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{this.full_name}}</th>
            <td>{{this.email}}</td>
            <td>{{this.phone}}</td>
            <td>{{this.dof}}</td>
            <td>${{this.salary}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col">
        <b>Task:</b>
      </div>
    </div>
    <div class="row">
      <div class="col">
        {{this.task}}
      
      </div>
    </div>
  </div>
  {{/each}}
</div>
